<!-- forms.html -->

<h1>CABANON Configuration</h1>
<form method="POST" onsubmit="function() {location.reload()}">
    <label>Temperature DAC (Hex)</label><br />
    <input type="text" name="TemperatureDAC"><br />
    <label>Mirrors Mask (Hex)</label><br />
    <input type="text" name="Mirrors"><br />
    <label>DAC(Hex)</label><br />
    <input type="text" name="DAC"><br />
    <label>Channels (Hex)</label><br />
    <input type="text" name="Channels"><br />
    <input type="submit">
</form>
