<!-- forms_bnl.html -->

<h1>BNL DAC Configuration</h1>
<form method="POST" onsubmit="function() {location.reload()}">
    <label>DAC(Hex)</label><br />
    <input type="text" name="DAC"><br />
    <input type="submit">
</form>
